.main-content {
  width: 75%;
  margin: 40px auto;
}
.news-cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
}
.news-cards .card {
  border-radius: 8px;
  overflow: hidden;
}
.card-image img {
  width: 100%;
  object-fit: cover;
  height: 290px;
}
.card-content {
  background-color: #eaeaea;
  padding: 20px 16px;
  margin-top: -10px;
}
.card-paragraph {
  margin: 6px 0;
}
@media screen and (max-width: 1366px) {
  .card-image img {
    height: 210px;
  }
}
@media screen and (max-width: 900px) {
  .news-cards {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (max-width: 500px) {
  .news-cards {
    grid-template-columns: 1fr;
  }
  
}